body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: white;
  background: black;
}

#name {
  opacity: 0;
  white-space: nowrap;
  font-size: 8vw;
  font-weight: bold;
  background-clip: text;
  -webkit-background-clip: text;
  transition: opacity 0.5s;
}

#nameHoverTrigger {
  background-clip: text;
  -webkit-background-clip: text;
}

#nameHoverContainer {
  position: relative;
}

#nameHoverContent {
  visibility: hidden;
  position: absolute;
  top: 0;
  background-clip: text;
  -webkit-background-clip: text;
}

#scrollIndicator {
  display: flex;
  align-items: center;
  position: absolute;
  font-size: 2vh;
  opacity: 1;
  padding: 1vh;
  color: gray;
  background: white;
  border-radius: 8px;
}

#scrollIndicatorIcon {
  display: block;
  height: 4vh;
  margin-right: 0.5vh;
}
