body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background: black;
}

.text {
  font-family: sans-serif;
}

#name {
  opacity: 0;
  font-weight: bold;
  font-size: 8rem;
  scale: 16;
  background-clip: text;
  -webkit-background-clip: text;
  transition: opacity 0.5s;
}

#scrollIndicator {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 1rem;
  padding: 0.5rem;
  color: gray;
  background: white;
  border-radius: 8px;
  transition: bottom 0.5s;
}

#scrollIndicatorIcon {
  display: block;
  height: 2rem;
  margin-right: 0.25rem;
}
